<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d6b89b">  <td>21/01/05 11:09:19</td>   <td>0</td> <td title="&lt;&lt;BaseTest.closeApplicationAndEndReport()[pri:0, instance:com.apd.inteliserve.regression.ConsentCaptureScreen@49b0b76]">&lt;&lt;closeApplicationAndEndReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@957465255</td>   <td></td> </tr>
<tr bgcolor="746a6f">  <td>21/01/05 11:09:19</td>   <td>-41</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConsentCaptureScreen.consentCaptureScreenTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.apd.inteliserve.regression.ConsentCaptureScreen@49b0b76]">consentCaptureScreenTest</td> 
  <td>main@957465255</td>   <td></td> </tr>
<tr bgcolor="d6b89b">  <td>21/01/05 11:09:19</td>   <td>-38</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.getResultStatus(org.testng.ITestResult)[pri:0, instance:com.apd.inteliserve.regression.ConsentCaptureScreen@49b0b76]">&lt;&lt;getResultStatus</td> 
<td>&nbsp;</td>  <td>main@957465255</td>   <td></td> </tr>
<tr bgcolor="d6b89b">  <td>21/01/05 11:09:19</td>   <td>-49</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setEnvironmentAndOpenApplication(java.lang.String)[pri:0, instance:com.apd.inteliserve.regression.ConsentCaptureScreen@49b0b76]">&gt;&gt;setEnvironmentAndOpenApplication</td> 
<td>&nbsp;</td>  <td>main@957465255</td>   <td></td> </tr>
<tr bgcolor="d6b89b">  <td>21/01/05 11:09:19</td>   <td>-409</td> <td title="&gt;&gt;BaseTest.setReport()[pri:0, instance:com.apd.inteliserve.regression.ConsentCaptureScreen@49b0b76]">&gt;&gt;setReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@957465255</td>   <td></td> </tr>
</table>
