<h2>Reporter output</h2><table><tr><td>Failed to start Test Parallely</td></tr>
<tr><td>---------------------------------</td></tr>
<tr><td>Test Completed</td></tr>
<tr><td>Flushing Report</td></tr>
<tr><td>Report Generated</td></tr>
</table>