<h2>Methods that were not run</h2><table>
<tr><td>com.apd.inteliserve.general.BaseTest.setReport</td></tr>
<tr><td>com.apd.inteliserve.general.BaseTest.setReport</td></tr>
<tr><td>com.apd.inteliserve.general.BaseTest.setReport</td></tr>
<tr><td>com.apd.inteliserve.general.BaseTest.closeApplicationAndEndReport</td></tr>
<tr><td>com.apd.inteliserve.general.BaseTest.closeApplicationAndEndReport</td></tr>
<tr><td>com.apd.inteliserve.general.BaseTest.closeApplicationAndEndReport</td></tr>
<tr><td>com.apd.inteliserve.general.BaseTest.setReport</td></tr>
<tr><td>com.apd.inteliserve.general.BaseTest.closeApplicationAndEndReport</td></tr>
</table>