<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bd7b6a">  <td>21/06/09 19:28:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LandingPageTiles.KnowledgeBaseTilesTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.apd.inteliserve.regression.LandingPageTiles@2a556333]">KnowledgeBaseTilesTest</td> 
  <td>TestNG-tests-2@1367949615</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>21/06/09 19:35:47</td>   <td>431791</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LandingPageTiles.KnowledgeBaseTilesTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.apd.inteliserve.regression.LandingPageTiles@33f88ab]">KnowledgeBaseTilesTest</td> 
  <td>TestNG-tests-1@1823400798</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>21/06/09 19:36:42</td>   <td>486664</td> <td title="&lt;&lt;BaseTest.closeApplicationAndEndReport()[pri:0, instance:com.apd.inteliserve.regression.LandingPageTiles@2a556333]">&lt;&lt;closeApplicationAndEndReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@951880373</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>21/06/09 19:29:25</td>   <td>50028</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.getResultStatus(org.testng.ITestResult)[pri:0, instance:com.apd.inteliserve.regression.LandingPageTiles@2a556333]">&lt;&lt;getResultStatus</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1367949615</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>21/06/09 19:30:06</td>   <td>90316</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.getResultStatus(org.testng.ITestResult)[pri:0, instance:com.apd.inteliserve.regression.IA_1009@7d70d1b1]">&lt;&lt;getResultStatus</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1367949615</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>21/06/09 19:30:46</td>   <td>130752</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.getResultStatus(org.testng.ITestResult)[pri:0, instance:com.apd.inteliserve.regression.AddUpdateTitle@4b1c1ea0]">&lt;&lt;getResultStatus</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1823400798</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>21/06/09 19:30:56</td>   <td>140247</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.getResultStatus(org.testng.ITestResult)[pri:0, instance:com.apd.inteliserve.regression.IA_1009@7d70d1b1]">&lt;&lt;getResultStatus</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1367949615</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>21/06/09 19:33:35</td>   <td>299361</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.getResultStatus(org.testng.ITestResult)[pri:0, instance:com.apd.inteliserve.regression.AddUpdateLangauge@3712b94]">&lt;&lt;getResultStatus</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1823400798</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>21/06/09 19:35:19</td>   <td>403881</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.getResultStatus(org.testng.ITestResult)[pri:0, instance:com.apd.inteliserve.regression.VerifyProfilePhoto@2833cc44]">&lt;&lt;getResultStatus</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1823400798</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>21/06/09 19:36:41</td>   <td>485934</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.getResultStatus(org.testng.ITestResult)[pri:0, instance:com.apd.inteliserve.regression.LandingPageTiles@33f88ab]">&lt;&lt;getResultStatus</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1823400798</td>   <td></td> </tr>
<tr bgcolor="6bdb79">  <td>21/06/09 19:29:56</td>   <td>80272</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IA_1009.profileLegalPageTermsOfUseTest(java.lang.String)[pri:0, instance:com.apd.inteliserve.regression.IA_1009@7d70d1b1]">profileLegalPageTermsOfUseTest</td> 
  <td>TestNG-tests-2@1367949615</td>   <td></td> </tr>
<tr bgcolor="6bdb79">  <td>21/06/09 19:30:36</td>   <td>120779</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IA_1009.profileLegalPageTest(java.lang.String)[pri:0, instance:com.apd.inteliserve.regression.IA_1009@7d70d1b1]">profileLegalPageTest</td> 
  <td>TestNG-tests-2@1367949615</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>21/06/09 19:28:01</td>   <td>-34441</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setEnvironmentAndOpenApplication(java.lang.String)[pri:0, instance:com.apd.inteliserve.regression.LandingPageTiles@2a556333]">&gt;&gt;setEnvironmentAndOpenApplication</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1367949615</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>21/06/09 19:28:01</td>   <td>-34441</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setEnvironmentAndOpenApplication(java.lang.String)[pri:0, instance:com.apd.inteliserve.regression.AddUpdateTitle@4b1c1ea0]">&gt;&gt;setEnvironmentAndOpenApplication</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1823400798</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>21/06/09 19:29:26</td>   <td>51105</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setEnvironmentAndOpenApplication(java.lang.String)[pri:0, instance:com.apd.inteliserve.regression.IA_1009@7d70d1b1]">&gt;&gt;setEnvironmentAndOpenApplication</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1367949615</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>21/06/09 19:30:07</td>   <td>91403</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setEnvironmentAndOpenApplication(java.lang.String)[pri:0, instance:com.apd.inteliserve.regression.IA_1009@7d70d1b1]">&gt;&gt;setEnvironmentAndOpenApplication</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1367949615</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>21/06/09 19:30:47</td>   <td>131918</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setEnvironmentAndOpenApplication(java.lang.String)[pri:0, instance:com.apd.inteliserve.regression.AddUpdateLangauge@3712b94]">&gt;&gt;setEnvironmentAndOpenApplication</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1823400798</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>21/06/09 19:33:35</td>   <td>300073</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setEnvironmentAndOpenApplication(java.lang.String)[pri:0, instance:com.apd.inteliserve.regression.VerifyProfilePhoto@2833cc44]">&gt;&gt;setEnvironmentAndOpenApplication</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1823400798</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>21/06/09 19:35:20</td>   <td>404310</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setEnvironmentAndOpenApplication(java.lang.String)[pri:0, instance:com.apd.inteliserve.regression.LandingPageTiles@33f88ab]">&gt;&gt;setEnvironmentAndOpenApplication</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1823400798</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>21/06/09 19:28:01</td>   <td>-34672</td> <td title="&gt;&gt;BaseTest.setReport()[pri:0, instance:com.apd.inteliserve.regression.LandingPageTiles@2a556333]">&gt;&gt;setReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@951880373</td>   <td></td> </tr>
<tr bgcolor="c285f4">  <td>21/06/09 19:31:18</td>   <td>163033</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddUpdateLangauge.updateProfileLanguage(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.apd.inteliserve.regression.AddUpdateLangauge@3712b94]">updateProfileLanguage</td> 
  <td>TestNG-tests-1@1823400798</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>21/06/09 19:28:36</td>   <td>631</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddUpdateTitle.updateProfileTitle(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.apd.inteliserve.regression.AddUpdateTitle@4b1c1ea0]">updateProfileTitle</td> 
  <td>TestNG-tests-1@1823400798</td>   <td></td> </tr>
<tr bgcolor="f3ddb1">  <td>21/06/09 19:34:05</td>   <td>329291</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyProfilePhoto.verifyProfilePhoto(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.apd.inteliserve.regression.VerifyProfilePhoto@2833cc44]">verifyProfilePhoto</td> 
  <td>TestNG-tests-1@1823400798</td>   <td></td> </tr>
</table>
